div.hexagon-parent {
  position : relative;
  margin-left: 50px;
  width: calc(var(--base-width) * 1.5);
  height: calc(var(--actual-height));
  
  /*  change hexagon properties  */
  --bg-color: red;
  --text-color: #59b;
  --base-width: 100px;
  --actual-height: 100px;
}

div.hexagon-parent span.text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  z-index: 1;
  
}

div.hexagon-parent > div {
  width: var(--base-width);
  height: calc(var(--actual-height) / 2);
  background-color: var(--bg-color);
  display: inline-block;
  position: absolute;
}

div.hexagon-parent div.upper {
  top:0;
  left: 0;
}
div.hexagon-parent div.lower {
  top: calc(var(--actual-height) / 2);
  left: 0;
}

div.hexagon-parent div.upper.right {
  transform: translateX(calc(var(--base-width) * 0.75));
}
div.hexagon-parent div.upper.left {
  transform: skew(-45deg)
}
div.hexagon-parent div.lower.right {
  transform: skew(-45deg) translateX(calc(var(--base-width) / 2));
}
div.hexagon-parent div.lower.left {
  transform: translateX(calc(var(--base-width) / 4 * -1));
}
